.LandingPage {
    height: 88vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 768px) {
        padding: 5em;
    }
    h1 {
        font-size: 1.5em;
        @media screen and (min-width: 768px) {
            font-size: 3em;
        }
    }
    p,
    .statement {
        font-size: 1.5em;
        @media screen and (min-width: 768px) {
            font-size: 3em;
        }
        .noun {
            .webdev {
                color: #00bbf9;
            }
            .mother {
                color: #fb7107;
            }
            .catlover {
                color: #9b5de5;
            }
            .problemsolver {
                color: #00f5d4;
            }
            .sweettooth {
                color: #f15bb5;
            }
            
        }
    }
    .wave-emoji {
        display: inline-block;
        animation: wiggle 2s infinite;
        @keyframes wiggle {
            0% { transform: rotate(0deg); }
           80% { transform: rotate(0deg); }
           85% { transform: rotate(10deg); }
           95% { transform: rotate(-10deg); }
          100% { transform: rotate(0deg); }
        }
    }

    .statement {
        display: flex;
        div:first-child {
            margin-right: 0.3em;
        }

        .noun {
            position: relative;
            .mother,
            .catlover,
            .problemsolver,
            .sweettooth {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

}