.LandingPage {
    height: 100vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .wave-emoji {
        display: inline-block;
        animation: wiggle 2s infinite;
        @keyframes wiggle {
            0% { transform: rotate(0deg); }
           80% { transform: rotate(0deg); }
           85% { transform: rotate(10deg); }
           95% { transform: rotate(-10deg); }
          100% { transform: rotate(0deg); }
        }
    }

    .statement {
        display: flex;
        div:first-child {
            margin-right: 0.3em;
        }

        .noun {
            position: relative;
            .mother,
            .catlover,
            .problemsolver,
            .sweettooth {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }

}