.AboutMe {
    padding: 1em;
    @media screen and (min-width: 768px) {
        padding: 0 5em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr 1fr 2fr;
    }

    @media screen and (min-width: 1020px) {
        padding: 0 8em;
    }
    
    .about {
        margin-top: 1em;
        font-size: 5em;
        font-weight: 500;
        @media screen and (min-width: 768px) {
            grid-area: 1 / 1 / 2 / 3;
        }
        div {
            cursor: pointer;
            display: inline-block;
            &:first-child {
                color:#f15bb5;
            }
            &:nth-child(2) {
                color:#00bbf9;
            }
            &:nth-child(3) {
                color:#fb7107;
            }
            &:nth-child(4) {
                color:#00f5d4;
            }
            &:nth-child(5) {
                color:#9b5de5;
            }

        }
    }
    .about-wrapper {
        @media screen and (min-width: 768px) {
            grid-area: 2 / 1 / 5 / 2;
            padding-right: 3em;
        }
        p {
            font-size: 0.8em;
            margin-bottom: 1em;
            text-align: justify;
            a {
                font-weight: 700;
                color: #00bbf9;
                &:hover {
                    color: #f15bb5;
                }
                &:active {
                    color: #fb7107;
                }
                &:visited {
                    color: #9b5de5;
                }
            }
            @media screen and (min-width: 768px) {
                font-size: 1em;
            }
        }
    }

    .skills {
        font-size: 2.2em;
        margin-bottom: 0.3em;
        @media screen and (min-width: 768px) {
            grid-area: 2 / 2 / 3 / 3;
            transform: translateY(-10px);
        }
    }

    .skills-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        justify-content: space-evenly;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            grid-area: 3 / 2 / 5 / 3;
            margin-top: -2em;
        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .icon-text {
                font-size: 10px;
                margin-top: 0.2em;
            }
            .icon {
                width: 2.6em;
                height: 2.6em    
            }
        }
        .html-wrapper { grid-area: 1 / 1 / 2 / 2; }
        .css-wrapper { grid-area: 1 / 2 / 2 / 3; }
        .sass-wrapper { grid-area: 1 / 3 / 2 / 4; }
        .bootstrap-wrapper { grid-area: 2 / 1 / 3 / 2; }
        .js-wrapper { grid-area: 2 / 2 / 3 / 3; }
        .react-wrapper { grid-area: 2 / 3 / 3 / 4; }
        .express-wrapper { grid-area: 3 / 1 / 4 / 2; }
        .mongo-wrapper { grid-area: 3 / 2 / 4 / 3; }
        .postman-wrapper { grid-area: 3 / 3 / 4 / 4; }
        .figma-wrapper { grid-area: 4 / 1 / 5 / 2; }
        .jira-wrapper{ grid-area: 4 / 2 / 5 / 3; }
        .github-wrapper { grid-area: 4 / 3 / 5 / 4; }
        .illustrator-wrapper { grid-area: 5 / 1 / 6 / 2; }
        .photoshop-wrapper { grid-area: 5 / 2 / 6 / 3; }
        .indesign-wrapper { grid-area: 5 / 3 / 6 / 4; }
    }

}